.info{
	display:inline-block;
	position: relative; 
	top: -500px; 
	left: 4%; 
}
.image{
	width:800px; 
	height:600px; 
	display:inline-block;
	position: relative;
	left: 25px;
	top: 30px;	
	margin-right: 10px;
}
#image{
	width:100%;height:100%;
}