.info{
	display:inline-block;
	position: relative; 
	top: -400px;  
}
.image{
	width:800px; 
	height:600px; 
	display:inline-block;
	position: relative;
	left: 25px;
	top: 30px;	
}
#image{
	width:100%;height:100%;
}
.container{
	display: inline-block;
	width: 65%;
}


.info-container{
	display: inline-block;
	width: 33%;
}