.watermarker-wrapper {position: relative; background-color: aqua; }
	
.watermarker-wrapper .watermarker-container { width: 100px; height: 100px; 
		background-color: red; position:absolute; min-width:40px; min-height:40px;cursor: move; 
	}

.watermarker-wrapper .watermarker-container .watermarker-image { width: 100%; height: 100%; }	

.watermarker-wrapper .watermarker-container .watermarker-image { width: 100%; height: 100%; }	
.watermarker-wrapper .watermarker-container .resizer { position: absolute; width: 20px; height: 20px; 
	right:0px;bottom:0px; background-image: url("images/resize.png"); cursor: se-resize; background-size: 100% 100%; 
	}
.watermarker-remove-item{
	display: inline-block; 
	width:20px; height: 20px; 
	position: absolute;
	right: 0px;
	top:0px;
	cursor: pointer;
	/*background: url("images/close-icon.png");
	background-size: cover;*/
}
.watermarker-remove-item img{
	max-width:100%;
	max-height: 100%;
}